* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --nav-pad: 15px;
    --nav-pad-left: 15%;
    --nav-font-size: 1.8rem;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

/* Header */

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.head-1,
.head-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-group {
    display: flex;
    column-gap: 1.9rem;
}

.button-group button {
    font-size: 1.3rem;
    flex: 1 1 0px;
    padding: 7px 20px;
    border-radius: 15px;
    background-color: lightcyan;
    border: 2px solid black;
}

.head-2 .profile-display {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.profile-display img {
    border-radius: 15px;
    width: 60px;
}

/* Nav Bar */

nav {
    grid-column: 1 / 2;
    grid-row: 1 / span all;
    background-color: lightblue;
}

nav h2 {
    padding: 1.7rem;
    padding-left: var(--nav-pad-left);
    font-size: 2.2rem;
}

nav > div {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    font-size: var(--nav-font-size);
    padding: var(--nav-pad);
    padding-left: var(--nav-pad-left);
    row-gap: 1.1rem;
}

nav a {
    text-decoration: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

a {
    display: flex;
    align-items: center;
    column-gap: 1.1rem;
    width: 100%;
}

a img {
    max-width: 30px;
}

header {
    grid-column: 2;
    grid-row: 1;
}

/* Body Grid */

.body-container {
    --container-padding: 1.3rem;
    --container-header-font-size: 1.5rem;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 2;
}

h3 {
    font-size: var(--container-header-font-size);
    margin-bottom: 15px;
}

/* Card Grid */

.projects-container {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    padding: var(--container-padding);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    flex: auto;
    gap: 1.5rem;
}

.card {
    background-color: lightcoral;
    border: 1px solid black;
}

.announcements-container {
    grid-row: 1;
    grid-column: 2;
    padding: var(--container-padding);
}

.trending-container {
    grid-row: 2;
    grid-column: 2;
    padding: var(--container-padding);
}

.settings-container {
    margin-top: 2.5rem;
}

@media only screen and (max-width: 1000px) {
    .cards {
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

